/* nav bar styles */
nav {
    background-color: rgb(245, 241, 243);
    height: 130px;
}

.nav-logo {
    display: flex;
    text-align: center;
    padding: 44px 240px;
    gap: 10px;
}

.nav-items ul {
    display: flex;
    text-align: center;
    gap: 32px;
    padding: 54px 240px;
    font-size: 19px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-size: 30px;
}

.nav-img {
    width: 87px;
    height: 40px;
    padding: 20px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.youtube-logo {
    width: 34px;
    height: 24px;
}

.tiktok-logo {
    width: 24px;
    height: 24px;
}

.follow-list {
    display: flex;
    gap: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 262px;
    height: 56px;
    align-items: center;
    cursor: pointer;

}

.follow-list li,
img {
    padding: 7px;
}

/* banner styles */
.banner-container {
    display: flex;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 20px 240px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    font-size: 30px;
}

.sign-btn,
.know-more {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.sign-btn:hover {
    background: plum;
    color: black;
}

.rogue-btn {
    border-radius: 48px;
    background: #4EC5F7;
    width: 100px;
    height: 40px;
    border: none;
    font-size: 15px;
    color: aliceblue;
}

.rogue-btn:hover {
    background: pink;
    color: black;
    cursor: pointer;
}

.primary-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* main */
.gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    text-align: right;
    align-items: center;
    padding: 0px 240px;
}

.gamer-img {
    padding: 55px 0px;
}

.gamer-title {
    font-size: 20px;
}

.our-purpose {
    font-size: 25px;
}

/* card styles */
.online-games-title {
    text-align: center;
    padding-top: 120px;
}

.online-games {
    display: flex;
    text-align: left;
    justify-content: space-around;
    padding: 50px 240px;
    font-size: 15px;
}
.play-instantly{
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-around;
    padding: 120px 240px;
}
.play-instantly-title{
    font-size: 20px;
}
.play-instantly-img-2{
    position: relative;
    bottom: 200px;
    padding-right: 400px;
}
